/*
font-family: 'Grand Hotel', cursive;
font-family: 'Work Sans', sans-serif;
*/

/* Main style settings */
body{
    padding: 0;
    margin: 0;
    background-color: #FAF9F6;
    font-family: 'Work Sans', sans-serif;
}

.instagram-title{
    font-family: 'Grand Hotel', cursive;
    letter-spacing: 2px;
}

.message{
    margin: 1rem;
    padding: .5rem;
}

/* Navbar styling */
.main-nav ul{
    display: flex;
    margin-right:8vw;
    padding: 0;
    list-style: none;
  }
  
  .main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
  }
  
  .main-nav a:hover{
    font-size: larger;
  }
  
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
    height: 60px;
    background-color: white;
    border-bottom: #DCDCDC solid 1px;
  }

  .brand-logo:hover{
    text-decoration: none;
    color: black;
  }
  
  .brand-logo:focus{
    text-decoration: none;
    color: black;
  }
  
  .brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    margin-left:8vw;
    text-decoration: none;
  }

  .brand-logo-name {
    margin-left: 1rem;
    font-size:3rem;
    text-decoration: none;
  }
  
  .brand-logo-name:hover{
    text-decoration: none !important;
  }
  
  .brand-logo-name:focus{
    text-decoration: none;
  }

  .nav-items{
    font-size: large;
    font-weight: bold;
    padding: 0 1vw;
  }

  .search-text{
      border-radius:2%;
      background-color:#FAF9F6;
  }

/* Accounts pages - login and signin */
.accounts-page{
    margin-top: 6vh;
}
.ig-image-accounts{
    display: block;
    margin-left: auto;
}
.account-nav{
    border: 1px solid #DCDCDC;
    margin-top: 2vh;
    width: 60%;
    padding: 2vw;
}
.separator::before,.separator::after {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 4rem;
    margin:-0.5rem 1rem;
    transform: translateY(-1rem);
    opacity: 0.5;
}
.accounts-submit{
    margin: 1rem;
    padding: .5rem;
    border-radius: 3%;
    width: 85%;
    font-weight: bold;
}

    /* Login-page */
    .password-reset-pages{
        width: 70%;
        padding: 2vw;
        top: 20%;
        position: relative;
        border: 1px solid #DCDCDC;
        background-color: white;
    }
    .login-section{
        border: 1px solid #DCDCDC;
        width: 60%;
        margin-top: 2vh;
        background-color: white;
    }
    .login-form{
        width: 90%;
        margin: 2vh auto;
    }
    .accounts-username, .accounts-password, .accounts-email{
        background: transparent;
        border: 0 solid;
        border-radius: 1%;
        border: 1px solid #DCDCDC;
        color: white;
        display: block;
        margin: 1rem;
        padding: .5rem;
        transition: 250ms ease-in;
        width: calc(100% - 3rem);
    }

/* Profile page - User */
.prof_pic{
    border-radius: 50%;
    margin-right: 2vw;
}

.profile_section_two{
    width: 50%;
}

.btn-light{
    border:1px solid #DCDCDC;
}

.user-posts{
    padding-top: 1vh;
    margin: 0 auto;
    border-top:1px solid #DCDCDC;
    width: 80%;
}

.user-post-img{
    margin: 1.5vh;
    max-height: 40vh;
    max-width: 22vw;
    min-height: 40vh;
    min-width: 22vw;
}

    /* Modal styling */
    .modal-dialog{
        height: 80vh;
        width: 80%;
        margin:0 10vw;
    }
    .modal-content{
        height: 100%;
        width: 80vw;
    }
    .modal-body{
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .modal-display-next{
        max-height: 80vh;
        min-height: 80vh;
    }
    .post-comment-col{
        height: 100%;
    }
    .user-post-img-modal{
        height: 100%;
        width: 100%;
    }
        /* Comment section/column of modal */
        .post-header{
            margin: 1vh;
            border-bottom:1px solid #DCDCDC;
            height: 10%;
        }
        .comment-section-display{
            height: 70%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .post-add-comment-form{
            height: 20%;
        }
    .post-header-img{
        height:7%;
        width:10%;
    }
    .comment-img{
        height:100%;
        width:100%;
    }

/* Application page - Pictures from other users,comments,likes etc */