{% extends "base.html" %}
{% block content %}
<div class="row accounts-page">
    <div class="col-md-6">
        {% load static %}
        <img src="{% static 'css/assets/accounts-img.jpg' %}" alt="ig-image-1" srcset="" class="ig-image-accounts">
    </div>
    <div class="col-md-6">
        <div class="password-reset-pages">
            <h3 class="instagram-title text-center">Password reset</h3>
            <p class="text-center">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one.
            </p>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="Submit" name="Send email" value="Submit" class="btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}