{% extends "base.html" %}
{% block content %}
<div class="row accounts-page">
    <div class="col-md-6">
        {% load static %}
        <img src="{% static 'css/assets/accounts-img.jpg' %}" alt="ig-image-1" srcset="" class="ig-image-accounts">
    </div>
    <div class="col-md-6">
        <div class="password-reset-pages">
            <h3 class="instagram-title text-center">Password reset sent</h3>
            <p class="text-center">
                We’ve emailed you instructions for setting your password,
                if an account exists with the email you entered. You should
                receive them shortly.
            </p>
            <p class="text-center">
                If you don’t receive an email, please make sure you’ve
                entered the address you registered with, and check your
                spam folder.
            </p>
        </div>
    </div>
</div>
{% endblock %}