{% extends "base.html" %}
{% block content %}
<div class="row accounts-page">
    <div class="col-md-6">
        {% load static %}
        <img src="{% static 'css/assets/accounts-img.jpg' %}" alt="ig-image-1" srcset="" class="ig-image-accounts">
    </div>
    <div class="col-md-6">
        <div class="password-reset-pages" align="center">
            <h3 class="instagram-title text-center">Enter new password</h3>
            <p class="text-center">
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="Submit" name="Update Password" value="Update Password" class="btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}