{% extends "base.html" %}
{% block content %}
<div class="row accounts-page">
    <div class="col-md-6">
        {% load static %}
        <img src="{% static 'css/assets/accounts-img.jpg' %}" alt="ig-image-1" srcset="" class="ig-image-accounts">
    </div>
    <div class="col-md-6">
        <div class="password-reset-pages" align="center">
            <h3 class="instagram-title text-center">Password reset complete</h3>
            <p class="text-center">
                Your password has been set. You may go ahead and log in now.
            </p>
            <a href="{% url 'login' %}" class="btn-primary accounts-submit">Log In</a>
        </div>
    </div>
</div>
{% endblock %}