{% extends 'base.html' %}

{% block content %}
<div class="row accounts-page">
    <div class="col-md-6 accounts-page-left">
        <div class="row">
            {% load static %}
            <img src="{% static 'css/assets/accounts-img.jpg' %}" alt="ig-image-1" srcset="" class="ig-image-accounts">
        </div>
    </div>
    <div class="col-md-6 accounts-page-right">
        <div class="login-section">
            <br>
            <h1 class="instagram-title text-center">Instagram</h1>
            <p class="text-center">Sign up to see photos and videos from your friends.</p>
            <form class="login-form" method="POST" action="">
                {% csrf_token %}
                <div class="accounts-username" autofocus="true" required="true" placeholder="Email" >
                    {{ form.username }}
                </div>
                <div class="accounts-email" autofocus="true" required="true" placeholder="Email" >
                    {{ form.email }}
                </div>
                <div class="accounts-password" required="true" placeholder="Password">
                    {{ form.password1}}
                </div>
                <div class="accounts-password" required="true" placeholder="Confirm Password">
                    {{ form.password2}}
                </div>
                {% for message in messages%}
                <span class="message">{{message}}</span>
                {% endfor %}
                <input type="submit" name="SignUp" value="Sign Up" class="accounts-submit btn-primary" /><br>
            </form>
        </div>
        <div class="account-nav">
            <h6 class="text-center">
                Have an account? <a href="#">Log In</a>
            </h6>
        </div>
    </div>
</div>
{% endblock %}