<header class="main-header fixed-top">
    <a href="{% url 'homepage' %}" class="brand-logo">
        <h2 class="instagram-title" title="HomePage">Instagram</h2>
    </a>
    <div>
        <form action="/search/" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group">
                    <input type="text" class="form-control search-text" required
                        name="username" id="search-text" placeholder="Search by username">
                    <button class="btn btn-light search" id="button-addon2" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <nav class="main-nav">
        <ul>
            <li class="nav-items"><a href="{% url 'homepage' %}" title="HomePage" >
                {% load static %}
                <img src="{% static 'css/assets/home-house-svgrepo-com.svg' %}" title="HomePage" alt="" srcset="">
            </a></li>
            <li class="nav-items"><a href="{% url 'post_create' %}" >
                {% load static %}
                <img src="{% static 'css/assets/add-svgrepo-com.svg' %}" title="Create Post">
            </a></li>
            <li class="nav-items"><a href="{% url 'profile' user.username %}">
                {% load static %}
                <img src="{% static 'css/assets/profile-svgrepo-com.svg' %}" title="{{request.user}}">
            </a></li>
            <li class="nav-items"><a href="{% url 'logout' %}">
                {% load static %}
                <img src="{% static 'css/assets/logout-svgrepo-com.svg' %}" title="Logout">
            </a></li>
        </ul>
    </nav>
</header>