{% extends 'base.html' %}
{% block content %}
<div class="">
    <br><br><br><br>
    <!-- About user -->
    <div class="row user-profile-display">
        <div class="col-md-6 profile_section_one">
            {% if user_profile.prof_pic %}
            <img src="{{user_profile.prof_pic.url}}" class="prof_pic ig-image-accounts" alt="" srcset="">
            {% else %}
            <p>No Prof pic available</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="profile_section_two">
                <h4 class="font-weight-bold">
                    {{user_name.username}}
                    {% if user.username == user_profile.user.username %}
                    <a href="{% url 'profile_update' user.username %}" class="btn btn-light">
                        Edit Profile
                    </a>
                    {% endif %}
                </h4>

                <p class="font-weight-bold">{{user_profile.name}}</p>
                <p>{{user_profile.bio}}</p>
                {% if user_profile.website %}
                <p>{{user_profile.website}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <!-- Post display by user -->
    <div class="user-posts-display">
        <div class="row user-posts d-flex justify-content-center">
            {% for post in user_posts %}
            <button type="button" class="btn image-btn" data-bs-toggle="modal" data-bs-target="#{{ post.image_name }}">
                <img src="{{post.image_upload.url}}" alt="" class="user-post-img">
            </button>
            <!-- Modal display -->
            <div class="modal fade" id="{{ post.image_name }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <br><br>
                <button type="button" class="btn-close float-right mr-3" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row modal-display-next">
                                <div class="col-md-6">
                                    <img class="user-post-img-modal" src="{{post.image_upload.url}}"
                                        alt="Card image cap">
                                </div>
                                <div class="col-md-6 post-comment-col">
                                    <div class="post-header">
                                        <p>
                                            <img src="{{user_profile.prof_pic.url}}" class="prof_pic post-header-img"
                                                alt="" srcset="">
                                            <span class="font-weight-bold">{{user_name.username}}</span>
                                            <span class="btn btn-light float-right">
                                                <a href="{% url 'delete_post' user_profile.user.username user_profile.id %}"
                                                    class="app-links">Delete</a>
                                            </span>
                                        </p>
                                    </div>
                                    <br>
                                    <div class="comment-section-display">
                                        <div class="post-caption-owner">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <p>
                                                        <img src="{{user_profile.prof_pic.url}}"
                                                            class="prof_pic comment-img" alt="" srcset="">
                                                    </p>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="font-weight-bold">{{user_name.username}}</span>
                                                    <p>{{post.image_caption}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-comment-others">
                                            {% for comment in post_comments %}
                                            {% if post.image_name|lower == comment.post_associated|lower %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <p>
                                                        <img src="{{comment.user_profile.prof_pic.url}}"
                                                            class="prof_pic comment-img" alt="" srcset="">
                                                    </p>
                                                </div>
                                                <div class="col-md-8">
                                                    <span class="font-weight-bold">{{comment.user.username}}</span>
                                                    <p>{{comment.user_comment}}</p>
                                                </div>
                                                {% if user.id == post.image_owner.user.id %}
                                                <div class="col-md-2">
                                                    {% load static %}
                                                    <p>{{post.owner_image.user.id}}</p>
                                                    <a href="{% url 'delete_comment' user.username comment.id %}">
                                                        <img src="{% static 'css/assets/delete-button-svgrepo-com.svg' %}"
                                                            class="delete-comment-btn" title="Delete Comment">
                                                    </a>
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="post-add-comment-form">
                                        <p>Comment form goes here</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}